{% extends "layout.html" %}

<head>
        
<style> 

    </style>
{% block heading %}
        <title>A website</title>
{% endblock %}

    </head>

    {% block body %}

    <body>
        <h1>Welcome to WebBook</h1>
        <h1> {{ headline }}</h1>                                                           

        <p>Please login below to access the website's book database. You will be able to search for books,
            see information about that book and see reviews left by other site users.
        </p>

        <p>
            Please enter your username and password, if you dont have one please <a href="{{ url_for('signup') }}">sign up here</a>
        </p>

<div id="loginboxes">
        <form action="{{ url_for('index') }}" method="POST">
            <input class="form-control" name="usernamelog" placeholder="Enter your username">
            <input class="form-control" name="passwordlog" placeholder="Enter your password">
            <button>Submit</button>
        </form>
</div>
       
          
        
    </body>

    {% endblock %}
</html>