{% extends "layout.html" %}
<style>
    #container{
        text-align:center;
        width: 300px;
        height: 300px;
        left: 50%;
        right: 50%;
        margin : 150px;
    }
    </style>

{% block heading %}
    <h1> Hello {{name}}, Please search for a book </h1>
{% endblock %}

{% block body %}
    <p>
        Search for a book by title, ISBN or author.
    </p>
    <div class="container">
    <div id="searchboxes">
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="isbn" placeholder="isbn of a book">
        <button>Submit</button>
    </form>
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="title" placeholder="title of a book">
        <button>Submit</button>
    </form>
   
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" name="author" placeholder="author of a book">
        <button>Submit</button>
    </form>
    </div>
</div>

    {% endblock %}
