{% extends "layout.html" %}

{% block heading %}
    Signup Page
{% endblock %}

<title>signup page </title> 
{% block body %}
{{ headline }}
    <p>
        Please complete the below form to register as a user of WebBook.
    </p>
<div id="signupboxes">
    <form action="{{ url_for('signupcomplete') }}" method="post">
                <input class="form-control" name="username" placeholder="Enter a username">
                <input class="form-control" name="password" placeholder="Enter a password">
        <button>Submit</button>
    </form>
</div>
    {% endblock %}
