{% extends "layout.html" %}

{% block heading %}
    Signup Page
{% endblock %}

{% block body %}
    <p>
        Some text that I wrote
    </p>

    <form action="{{ url_for('signupcomplete') }}" method="post">
        <div class="form-group">
            <select class="form-control" name="username">
                <input class="form-control" name="username" placeholder="Enter a username">
            </select>
        </div>

        <div>
            <select class="form-control" name="password">
                <input class="form-control" name="password" placeholder="Enter a password">
            </select>
        </div>

        <button>Submit</button>
       
    </form>

    {% endblock %}
